@keyframes popOut {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #746ce0, #e982e7);
    margin: 0;
    padding: 20px;
  }
  
  .card-container {
    
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    font-family: kanit;

    gap: 50px;
    padding: 20px;
  }
  
  .card {
    background: linear-gradient(to right, #746ce0, #e982e7);
    border: 2px black;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
  }
  
  .card h3 {
    
    text-transform: uppercase;
    font-family: kanit;
    font-weight: 800px;
    font-style: bold;
    margin: 0 0 10px;
    font-size: 30px;
    color: black;
    transition: color 0.3s ease;
    padding-bottom: 30px;
    animation: popOut 2s ease ;
  }
  
  .card p {
    

    font-family: crimson pro;
    font-style: bold;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    color: black;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    
  }
  
  .toggle {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-family: crimson pro;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .card:hover {
    
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover h3 {
    color: white; /* Change title color on hover */
  }
  
  .card:hover .toggle {
    color:white; /* Change toggle color on hover */
  }
  
  /* Media Query for Responsiveness */
  @media (max-width: 600px) {
    .card-container {
      grid-template-columns: 1fr; /* Single column on smaller screens */
    }
  }
  