* {
  
  box-sizing: border-box;
  
  font-family: kanit;
}

.wrapper {
  background: linear-gradient(to right, #746ce0, #e982e7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  overflow: hidden;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(255, 255, 255, 0.8);
}

.card.active {
  width: 600px;
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #000;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  padding-bottom: 10px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
}

.card.active .description {
  opacity: 1;
  transform: translateY(0);
}

.description p {
  align-items: center;
  color: #000;
  padding-top: 5px;
  
}

.description h4 {
  text-transform: uppercase;
  color: #000;
  font-family: kanit;
  font-weight: 400;
  font-size: 26px;
  
}
