/* Container styling for the projects component */
.projects-container {
  background: linear-gradient(to right, #746ce0, #e982e7);
  width: 100%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 100px;
}

/* Title styling */
.projects-title {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 10px;
  font-style: bold;
  font-weight: bolder;
  font-family: kanit;
  color: white;
  padding-bottom: 30px;
}

/* Paragraph styling */
.projects-description {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: crimpson pro;
  font-weight: 500;
  color: white;
  line-height: 1.6;
  padding-bottom: 100px;
}
